/*Custom styles for the Mickman app here*/

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
h1,h2,h3,h4,h5 {
    color:#0071bc;
}

.ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}
.ui-title {
    color:#fff;
}
.mc-text-center {
    text-align:center;
}
.mc-top-margin-1-5 {
    margin-top:1.5em;
}
h2.mc-text-danger,
h3.mc-text-danger  {
    color:red;
}
.ui-li {
    border-top: 0;
}
.ui-li {
    margin-bottom: -1px !important;
}
.ui-listview, .ui-listview > li{margin:0px !important;}
.bi-invalid-input {
    background-color:pink !important;
}

.bi-invisible {
    display:none;
}

.bi-ctn-err { /*error message*/
    background-color:red;
    color:#FFF;
    padding:0 .5em;
    margin-bottom:.5em;
    border: 1px solid #e9cfbd;
    border-radius:3px 3px;
}
.bi-header {
    border: 0px; position: fixed; width: 100%; top: 0px; left: 0px; z-index: 21;
}
/*custom styles for listview*/
.productlist p.price{
	font-weight:normal;
	color:red;
}
.productlist p.price .plabel{
	color:#000;
}
.purchaseAdd{
	border:1px solid #000;
	padding:10px;
}
input[type="radio"] {
    display: none;
}
.linesubtotal{
	border-top:1px solid #000;
	padding:20px 10px;
}
/*.split-custom-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.split-custom-button {
    position: relative;
    float: right;  
    height: 100%;
    margin:0;
    min-width:1em;
    padding:0px 10px;
    border:none !important;
    border-left:1px solid #CCC;
    moz-border-radius: 0;
    webkit-border-radius: 0  !important;
    border-radius: 0  !important;
    -webkit-border-radius: 0  !important;
    -moz-border-radius: 0  !important;
    moz-box-shadow: none;
    webkit-box-shadow: none;
    box-shadow: none;
}
.split-custom-button span.ui-btn-inner {
    position: relative;
    margin-top:50%;
    margin-left:50%;
    top:11px; 
    left:-12px;
    height:40%;
}/*/
.product-display div.slider{
	position:relative;
	margin:10px;
}
.product-display div.slider img{
	max-width:100%;
	height:auto;
	width:100%;
}
.product-display div.slider .inner{
	background:#EBEBEB;
	padding:20px;
}
legend{
	font-size:.8em;
}

.ui-listview .ui-li-has-thumb > img:first-child,
.ui-listview .ui-li-has-thumb > .ui-btn > img:first-child,
.ui-listview .ui-li-has-thumb .ui-li-thumb {
    left: 0px;
    top: 0px;
    min-width: 150px;
    max-height: 150px !important;
}
.ui-listview > .ui-li-has-thumb > .ui-btn,
.ui-listview > .ui-li-static.ui-li-has-thumb {
    min-height: 150px;
    padding: .7em 1em .7em 160px;
}
.ui-listview li.ui-li-has-alt{
	min-height:150px !important;
	/*height:150px;*/
}
/*.searchbtn{
	float:left;
	height:auto;
	position:absolute;
	background:transparent !important;
	left:0;
	min-width:150px;
	min-height:150px;
}
*/
#larger{
  position:fixed;
  width:92%;
  top:0px;
  left:0px;
}
.searchbtn  {
    position:absolute;
    background:transparent !important;
    top:0px; 
    padding:0px;
    margin:0px;
    right:0px;
    border:none;
}
.table-stripe thead th,
.table-stripe tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.table-stripe tbody th,
.table-stripe tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.table-stripe tbody tr:last-child th,
.table-stripe tbody tr:last-child td {
    border-bottom: 0;
}
.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}
