/*Custom styles for the Mickman app here*/
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Regular.ttf) format("truetype");
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:"Raleway", Arial, sans-serif;
}
h1,h2,h3,h4,h5 {
    color:#00a65e;
}
/*#popupOrderComplete{
	left:0px;
	top:0px;
	position:absolute;
}*/
.closesummary{
	text-align:center;
}
.closesummary span{
	display:block;
	font-size:12px;
}
.hidden{display:none !important;}
/*Login Screen*/
.loginpage .ui-block-a,
.loginpage .ui-block-c {
	float: left;
	width: 65.87%;
}
.loginpage .ui-block-b,
.loginpage .ui-block-c {
	float: left;	
	width: 33.925%; 
}
#confirm-member h3{
	color:#d2232a;
}
.sign-in{
	border:1px solid #d2232a !important;
	background:transparent !important;
	color:#d2232a !important;
	width:auto !important;
	display:inline-block !important;
	margin:0px auto !important;
	text-shadow: none !important;
	font-weight:normal !important;
	padding:10px 40px;
}
#page-signin .ui-input-text, #page-signin .ui-input-search{	
	padding:10px 10px !important;
	background:#FFF !important;]
	margin:0px !important;
	border:none !important;
}
#page-signin .ui-input-text,#page-signin .ui-input-search{
	margin:0px;
}
.clear{clear:both;}
.center-wrapper{
  text-align: center;
}
.synced1:before{
	content: "\2713 ";
	font-size:12px;
	position:absolute;
	background:black;
	padding:5px 8px;
	z-index:500;
	top:-10px;
	left:-10px;
	border-radius:50%;	
}
/*#keepsigned label, */
#keepsigned label i{
	font-weight:normal !important;
	color:#888 !important;
	border:none !important;
	background:transparent !important;
	text-align: center;
	/*padding-bottom:10px;*/
}
#keepsigned .ui-checkbox-off {
    background-image: none;
    box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; 
    border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
#keepsigned .ui-checkbox-on{
    background-image: none;
    box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; 
    border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
#keepsigned .ui-checkbox-on i{
    width: 32px!important; 
    height: 32px!important; 
    margin-left: -35px !important; 
    margin-top: 0px !important; 
    box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; border-radius: 0 !important; 
    color:#00a65e !important;
}
#keepsigned .ui-checkbox-off i{
    width: 32px!important; 
    height: 32px!important; 
    margin-left: -35px !important; 
    margin-top: 0px !important; 
    box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; border-radius: 0 !important; 
    color:#444 !important;
}
/*radio*/

#purchase .ui-radio-on i {
    /*width: 32px!important; 
    height: 32px!important; */
    margin-left: -25px !important;
    margin-right:10px; 
    margin-top: 0px !important; 
    box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; border-radius: 0 !important; 
    color:#00a65e !important;
}
#purchase .ui-radio-off i {
    /*width: 32px!important; 
    height: 32px!important; */
    margin-left: -25px !important; 
    margin-right:10px;
    margin-top: 0px !important; 
    box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; border-radius: 0 !important; 
    color:#444 !important;
}

/*.ui-page-theme-a .ui-btn.ui-checkbox-on:after{
	display:none !important;
}*/
input[type='checkbox']{
	display:none;
}

#keepsigned  .ui-btn.ui-checkbox-off:after, #keepsigned  .ui-btn.ui-checkbox-on:after, #keepsigned  .ui-btn.ui-radio-off:after, #keepsigned  .ui-btn.ui-radio-on:after{
	display:none !important;
}
/*radio*/
.checkout-radio{
	margin:10px 0px !important;
}
#purchase .ui-btn.ui-radio-off:after, #purchase .ui-btn.ui-radio-on:after{
	display:none !important;
}
.dark-grey .ui-btn{
	background:#444;
	text-shadow: 2px 2px 3px #000 !important;
}
.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn:visited{
	background:#888;
}
.ui-page-theme-a .ui-select .ui-btn, .ui-page-theme-a .ui-select .ui-btn:visited{
	background:#F8F8F8;
}
.personal-info .ui-input-text{
	background:#F8F8F8 !important;
}
.payment-form #payment-type label{
	background:#FFF;
}
.payment-form .ui-radio-on .ui-icon {
    width: 32px!important; 
    height: 32px!important; 
    margin-left: -20px !important; 
    margin-top: -15px !important; 
    box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; border-radius: 0 !important; 
    background: url(http://www.surveyshare.com/images/icons/check.png) 50% 50% no-repeat !important;
    background:#ccc !important;
}
li.even a{
	background:#FFF;
	padding:0px !important;
}
li.odd a{
	background:#CCC !important;
	padding:0px !important;
}
#popupOrder{
	margin:0px auto !important;
	padding:2px 10px !important;
}
#popupOrder div{
	padding:2px 0px !important;
}
#popupOrder p{
	margin:0px;
	padding:0px 10px;
}
.orderList{
	box-shadow: none !important;
}
.orderList h3{
	margin:0px !important;
	padding:0px !important;
}
ul.orderList li{
	margin-bottom:10px !important;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	height:auto;
}
ul.orderList{
	padding-bottom:20px !important;
}
/*ul.orderlist .ui-grid-b div{
	padding:3px !important;
}*/
ul.orderlist .ui-grid-b .ui-block-a, ul.orderlist  .ui-grid-b .ui-block-b, ul.orderlist  .ui-grid-b .ui-block-c {
    padding: 3px !important;
    margin:0px !important;   
}

.payment-form .ui-icon-radio-off {
    background-image: none;
    box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; 
    border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
.ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
    background:transparent;
}
.ui-title {
    color:#fff;
}
.ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
	background:url("../images/splash-bkg.png") !important;
	background-color:none !important;
}
/* CUSTOM HEADER AREA */
.ui-page .ui-header {
   /* background:url('../images/temp-logo.png') no-repeat top center #00a65e !important;
	   background-size:contain !important;
   */
   background:#00a65e;
    border:none;
    min-height:40px;
    padding:10px 0px;
}
.ui-page .ui-title{
	/*display:none;*/
}
.ui-header .ui-btn{
	background:none !important;
	font-size:10px;
	border:none;
	min-height:40px;
	padding:10px;
}
.zmdi {
	vertical-align:bottom !important;
	display:inline-block;
	color:#FFF;
}
.zmdi-circle{
	background:#444;
	padding:13px 15px;
	margin-right:20px;
	border-radius:30px;
	display:inline-block;
	float:left;
}
.ui-page-theme-a .ui-btn.ui-btn-active{
	border-color:#FFF;
}
.listview-active{
	background:#888 !important;
	color:#FFF !important;
}
.nav-text{
	line-height:4em;
	vertical-align:middle;
	display:inline-block;
}
.ui-page-theme-a .ui-btn.ui-btn-active{
	background:#00a65e;
}
/*PANEL*/
.ui-btn.green-button{
	background:#00a65e !important;
	color:#FFF !important;
}
.ui-btn.grey-button{
	background:#444 !important;
	color:#FFF !important;
}
.signOut{
	margin-top:50px;
	margin-bottom:40px;
}
.bottom-button{
	position:fixed;
	display:inline-block;
	width:auto;
	bottom:10px;
}
#profile-panel legend{
	font-size:14px;
	font-weight:bold;
	margin:10px 0px;
}
#profile-panel .ui-input-text, #profile-panel .ui-input-search{
	margin:10px !important;
	padding:5px !important;
}
.ui-panel-inner{
	padding:0px;
}
.panel-header{
	background:#444;
	color:#FFF;
	padding:10px 10px 5px 20px;
	min-height:50px;
}
.panel-header h3{
	color:#FFF;
}
.mc-text-center {
    text-align:center;
}
.mc-top-margin-1-5 {
    margin-top:1.5em;
}
h2.mc-text-danger,
h3.mc-text-danger  {
    color:#d2232a;
}
.red i {
	color:#d2232a;
}
.emptyTCart{ /*button*/
	background:#d2232a !important;
	color:#FFF !important;
}
.green i, .green{
	color:#00a65e;
}
.round-buttons{
	padding:0px 0px 10px 10px;
	margin-top:0px;
	display:inline-block;
}
.ui-li {
    border-top: 0;
}
.ui-li {
    margin-bottom: -1px !important;
}
.ui-listview, .ui-listview > li{margin:0px !important;}
.bi-invalid-input {
    background-color:pink !important;
}
.divider-title h4{
	color:#00a65e !important;
	margin:0px !important;
	padding:3px !important;
}
.cartlist{
	border:none !important;
	box-shadow:none;
}
.cartlist li{
	margin-bottom:10px !important;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	z-index:100;
}
.cartlist li.divider-title{
	margin-bottom:0px !important;
	box-shadow:none;
	z-index:200;
	overflow:visible;
	position:relative;
}
.ui-li-count{
	border-radius:50%;
	width:20px;
	font-size:18px;
	height:auto;
	padding:5px 10px;
	background:green !important;
	color:#FFF !important;
	position:absolute;
	top:20px;
	display:block;
}
.bi-invisible {
    display:none;
}

.bi-ctn-err { /*error message*/
    background-color:#d2232a;
    color:#FFF;
    font-size:12px;
    padding:0 .5em;
    margin-bottom:.5em;
    text-align:center;
    border: 1px solid #e9cfbd;
}
.bi-ctn-suc { /*error message*/
    background-color:#00a65e;
    color:#FFF;
    font-size:12px;
    padding:5px 10px;
    text-align:center;
    margin-bottom:.5em;
}
.bi-header {
    border: 0px; position: fixed; width: 100%; top: 0px; left: 0px; z-index: 21;
}
#filter-menu{
	margin:5px auto;
	display:inline-block;
}
#filter-menu .ui-btn{
	padding:8px;
	color:#FFF;
	font-weight:normal;
	font-size:12px;
}
.imageFrame{
	overflow:hidden;
	max-width:300px;
	max-height:300px;
}
.centeredB{
	margin:0px auto !important;
	font-weight:normal !important;
	text-align:center;
	font-size:11px;
}
/*PURCHASE POPUP*/
#purchase h2{
	font-size:16px;
	color:#00a65e;
}
/*custom styles for listview*/
.productlist p.price{
	font-weight:normal;
	color:#d2232a;
}
.productlist p.price .plabel{
	color:#000;
}
.ui-page-theme-a .slider .ui-btn, .ui-page-theme-a .slider .ui-btn:visited{
	background:#FFF !important;
	
}
.ui-page-theme-a .ui-btn.addtocart, .ui-page-theme-a .ui-btn.addtocart:visited{
	background:#00a65e !important;
	color:#FFF;
}
.purchaseAdd{
	/*border:1px solid #000;*/
	padding:10px;
	font-size:12px;
	background:#EBEBEB;
}
.priceselect, .priceselect li{
	list-style:none;
	margin:0px;
	padding:0px;
	font-size:8px !important;
}
.slider .ui-block-a{
	width:35% !important;
}
.priceselect .controlgroup-textinput{
	padding:0px !important;
}
input.q{
	padding:0px !important;
	width:25px;
	text-align:center;
	color:blue !important;
	font-size:20px !important;
	/*-webkit-text-fill-color: rgba(0, 0, 0, 1); */
	-webkit-opacity: 1;
}
input[type="text"].q:disabled, .priceselect .ui-disabled,.priceselect .ui-state-disabled,.priceselect .ui-btn.ui-state-disable {
    color: #000 !important;
    opacity:1 !important;
    font-size:16px !important;
    -webkit-opacity: 1 !important;
}
.slider .ui-block-c{
	width:35%;
	/*padding:3px !important;*/
	padding:0px;
}
.slider .ui-block-b{
	width:40% !important;
	vertical-align:top;
}
.priceselect .ui-block-a{
	width:32% !important;
	margin:0px;
	padding:0px;
}
.priceselect .ui-block-a label{
	margin:4px 0px 0px 0px;
	padding:10px 0px 5px 28px;
	border:none;
}
.smallcheck .ui-block-a label{
	padding:10px 0px 5px 5px !important;
	border:none;
}
.priceselect .ui-block-a .ui-checkbox{
	padding:0px !important;
}
.priceselect .ui-block-c{
	width:30% !important;
	padding:3px 0px 0px 0px;
}
.priceselect .ui-block-b{
	width:38% !important;
	padding:3px 0px 0px 0px;
	text-align:center;
}
.priceselect .plus,.priceselect .minus{
	padding:6px 9px 6px 9px !important;
	display:inline-block;
}

.labelprice{
	/*position:absolute;*/
	display:inline-block;
	right:4px;
	top:4px;
	background:#00a65e;
	color:white;
	padding:5px;
	margin:5px auto !important;
	font-size:12px;
	text-align:center;
	border-radius:5px;
	width:80%;
}
.purchaseAdd p{
	margin:5px;
	padding:0px;
}
.purchaseAdd .sentPrice{
	clear:both;
}
p.purchaseprice:after{
	content:"";
	clear:both;
}
.cartthumb{
	float:left;
	max-width:100%;
	height:auto;
	margin-bottom:10px;
}
#ledlights label{
	padding:5px;
}
.addonthumb{
	float:left;
	max-width:45px;
	height:auto;
	margin-right:5px;
	/*display:none;*/
}

.cart-addons{
	/*position:relative;*/
	margin:0px !important;
	padding:0px !important;
	font-size:11px !important;
}
.cart-addons span.ledlightwrapper{
	width:50% !important;
}
.cart-addons #ledlights{
	border:1px solid #000;
	width:50%;
}
.cart-addons label{
	font-size:12px;
	margin:0px !important;
	padding:5px !important;
	/*overflow:visible;*/
}
.addonpricing{
	font-size:10px;
}
/*.ledlightwrapper, .hangerwrapper{
	border:3px solid #000;
	display:inline-block;
	width:48%;
}*/
.cart-addons .ui-checkbox .ui-checkbox-on .zmdi-check-circle, .cart-addons .ui-checkbox .ui-checkbox-off .zmdi-check-circle{
	position:absolute;
	left:0px;
	top:0em;
}
.cart-addons .ui-checkbox .ui-checkbox-on .zmdi-check-circle{
    color: #00a65e !important;
    /*background:#FFF;*/
    padding:3px;
}
.cart-addons .ui-checkbox .ui-checkbox-on{
    background: #FFF !important;
    color:#000 !important;
}
.cart-addons .ui-checkbox .ui-checkbox-off .zmdi-check-circle{
    display:none;
}
.addledprice, .addhangerprice{
	display:inline-block;
	font-weight:normal;
}	
input[type="radio"] {
    display: none;
}
.linesubtotal{
	padding:20px 10px;
}

.cartthumb{
	float:left;
	max-width:80px;
	height:auto;
	margin-right:10px;
}
.amount{
	padding:2px 5px;
	border-radius:5px;
	border:1px solid #000;
	background:#ebebeb;
	display:inline-block;
}
.addonpricing{
	white-space: nowrap;
}

/*Product Display*/
.product-display{
	list-style:none;
	margin:0px;
	padding:0px;
}
.product-display h2{
	font-size:16px;
	color:#00a65e;
}
.product-display div.slider{
	position:relative;
	margin:10px 0px;
	list-style:none;
	padding:0px;
}
.product-display div.slider img{
	max-width:100%;
	height:auto;
	width:100%;
	display:block !important;
}
.product-display div.slider a.searchbtn{
	margin:0px;
	padding:0px;
	display:block !important;
}
.product-display i{
	position:absolute;
	top:5px;
	right:5px;
}
.product-display div.slider a.searchbtn img{
	display:block;
}
.swiper-slide{
	width: 1024px;
	max-width: 100vw;
}
.slider .split-custom-wrapper .ui-btn {
  white-space:normal !important;
  text-overflow: inherit !important;
  overflow: visible !important;
  padding:5px !important;
}
.product-display div.slider .inner{
	background:#FFF;
	min-height:300px;
	padding:20px 10px;
}
.product-display.unslicked div.slider .inner{
	min-height:auto;
}
.product-display.unslicked div.slider{
	width:100%;
}
/*.product-display.unslicked{
	list-style:none;
	margin:0px;
	padding:0px;
}
.product-display.unslicked div.slider{
	position:relative;
	margin:10px;
	list-style:none;
	width:100% !important;
	padding:0px;
}
.product-display.unslicked div.slider img{
	max-width:30%;
	height:auto;
	float:left;
	width:100%;
}
.product-display.unslicked div.slider:after{
	content:"";
	clear:both;
}
.product-display.unslicked div.slider .inner{
	background:#FFF;
	max-width:65%;
	width:55%;
	padding:10px;
	display:inline-block;
}*/
.swiper-wrapper.disabled {
    transform: translate3d(0px, 0, 0) !important;
}
.swiper-pagination.disabled {
    display: none;
}
.searchbtn  {
    /*position:absolute;*/
    background:transparent !important;
    top:0px; 
    padding:0px 5px;
    margin:5px;
    right:0px;
    border:none;
    text-shadow: 2px 2px 3px #000000;
}
/*.unslicked .searchbtn  {
    position:relative;
    background:#888 !important;
    border-radius:5px;
    padding:5px 10px;
    margin:5px 0px 10px 0px;
    width:90%;
    clear:both;
    display:block;
    right:0px;
    border:none;
    text-decoration:none !important;
}
.unslicked .searchbtn:after  {
    content:" View Larger";
    text-decoration:none !important;
    margin-left:5px;
    color:#FFF;
}*/
legend{
	font-size:.8em;
}

.ui-listview .ui-li-has-thumb > img:first-child,
.ui-listview .ui-li-has-thumb > .ui-btn > img:first-child,
.ui-listview .ui-li-has-thumb .ui-li-thumb {
    left: 0px;
    top: 0px;
    min-width: 150px;
    max-height: 150px !important;
}
.ui-listview > .ui-li-has-thumb > .ui-btn,
.ui-listview > .ui-li-static.ui-li-has-thumb {
    /*min-height: 150px;*/
    padding: .7em 1em .7em 160px;
}
.ui-listview li.ui-li-has-alt{
	min-height:150px !important;
	/*height:150px;*/
}
.ui-listview.orderList li.ui-li-has-alt{
	min-height:20px !important;
	/*height:150px;*/
}
.ui-listview.orderList .ui-btn-b{
	background:#00a65e !important;
	padding:5px;
	border:none;
}
/*.searchbtn{
	float:left;
	height:auto;
	position:absolute;
	background:transparent !important;
	left:0;
	min-width:150px;
	min-height:150px;
}
*/
#myframe{
	max-width:300px;
	max-height:300px;
	width:300px;
	height:300px;
}
.imagepop .imagecontain{
	max-width:320px;
	max-height:300px;
	overflow:hidden;
}
.imagecontain img{
	width:100%;
	height:auto;
	position:relative;
}
.imagepop .proddescription{
	padding:20px;
	overflow-y:scroll;
}
.logo{
	margin:10px auto;
	text-align:center;
}
.logo div{
	padding:5px 5px 0px 5px;
	margin:0px auto;
	display:inline-block;
	font-size:12px;
	width:60%;
	vertical-align:top;
}
.logo img.logoimg{
	max-width:50px;
	height:auto;
	display:inline-block;
}
.red{
	color:#d2232a;
}
.banner{
	background:#d2232a;
	color:#FFF;
	padding:0px 5px;
	font-size:12px;
	text-align:center;
}

.bannertext{
	padding:5px 10px 0px 10px !important;
	text-align:center;
	margin:0px auto;
}
.thanks-banner{
	padding:20px 10px !important;
}
.reciept-table td{
	padding:10px;
	vertical-align:top;
}
.reciept-table img{
	max-width:50px;
	height:auto;
}
.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
    height: 28px;
}
.phone-fields{
	margin-left:5px !important;
}
#page-checkout div.ui-input-text.controlgroup-textinput{
	/*width:100px;*/
}
#keepsigned.ui-controlgroup .ui-btn{
	border:none !important;
}
#keepsigned i.zmdi{
  float:left;
}

/*.phone-fields .controlgroup-textinput{
	width:60% !important;
}
#personal-phone-type{
	width:10% !important;
	border:1px solid #000;
}*/
.quantity-input{
	width:25%;
	padding:5px !important;
	height:20px !important;
}
 input#quantity{
	padding:2px !important;
	height: 15px;
	min-height:1.2em;
	font-size:16px !important;
	line-height:12px;
}
.smaller{
	font-size:14px;
	color:#000;
}
.removeProduct, .addProduct{
	padding:5px 2px !important;
}
.middle-image{
	margin:0px auto !important;
	border:none;
	background:#FFF;
	/*padding:0px 15px;*/
	border-bottom:1px solid #ebebeb;
	width:100%;
	text-align:center;
	/*box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);*/
}
.middle-image img{
	max-width:90%;
	margin:0px auto !important;
	width:100%;
	height:auto;
	/*box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);*/
}
.ui-content-special{
	padding:15px 20px 0px 20px;
}
.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}
.ui-content-special-form{
	padding:0px 20px 0px 20px;
	width:80% !important;
	margin:0px auto;
	display:block;
}

.table-stripe thead th,
.table-stripe tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.table-stripe tbody th,
.table-stripe tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.table-stripe tbody tr:last-child th,
.table-stripe tbody tr:last-child td {
    border-bottom: 0;
}
.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}
.controlgroup-textinput{
    /*padding-top:20px !important;
    padding-bottom:7px;*/
	/*float:left;
	margin-right:0px;*/
	/*margin:0px 0px 0px 8px;*/
}
.steps{
	position:relative;
	width:75%;
	margin:10px auto 60px auto;
	display:block;
}
.steps .bar{
	margin:20px 10px 0px 10px;
	padding:0px;
	background:#d2232a;
	position:relative;
	height:10px;
	z-index:100;
}
.steps .dots div{
	margin-top:-10px;
	position:absolute;
	z-index:200;
}
.steps .dots span{
	border-radius:50%;
	width:15px;
	height:auto;
	background:#d2232a;
	padding:5px 8px;
	display:inline-block;
	color:#FFF;
	text-align:center;
}
.steps .dots p{
	font-size:14px;
	color:#d2232a;
}
.steps .dots span a{
	color:#FFF;
	text-decoration:none;
}
/*
.highlights .steps li.step1 span, .steps li.step2 span, .steps li.step3 span{
	border-radius:50%;
	background:red;
	padding:5px 11px;
	margin-top:-8px;
	color:#FFF;
	position:absolute;
}*/
.steps .dots .step1, .steps .highlights .highlight1{
	left:-5px;
}
.steps .dots .step2{
	left:50%;
	margin-left:-15px;
}
.steps .highlights .highlight2{
	left:50%;
	margin-left:-25px !important;
}
.steps .dots .step3{
	right:-5px;
}
.steps .highlights .highlight3{
	right:-15px;
}

.steps .highlights span{
	display:none;
}
.steps .highlights span.active{
	border-radius:50%;
	width:15px;
	height:auto;
	display:inline-block;
	background:#d2232a;
	position:absolute;
	padding:5px 8px;
	border:10px solid rgba(255,255,255,0.8);
	margin-top:-30px;
	margin-left:-10px;
	z-index:50;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
/*Custom Icons*/
.ui-icon-print:after {
	content: '\f1b0';
	height:15px !important;
	padding-top:7px !important;
}
.ui-icon-upload:after {
	content: '\f22a';
	height:15px !important;
	padding-top:7px !important;
}


 
/*Mobile styles - smalll screens iPhone 5 / 5S*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
	/* STYLES GO HERE */
	#filter-menu{
	margin:5px auto;
	display:inline-block;
	}
	#filter-menu .ui-btn{
	padding:8px;
	}
	.slider{
	width:240px;/* !important*/
	}
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) { 
	#filter-menu{
		margin:5px auto;
		display:inline-block;
	}
	#filter-menu .ui-btn{
		padding:8px;
	}
	.slider{
		width:240px;
		/* !important*/
	}
}

/*DROID LARGER RESOLUTION*/

html {
    font-size: 40px !important;
}
.unbehaved-element {
    font-size: 2em  !important;
}
/*BIG RES - droid landscape*/
@media only screen and (max-width: 2000px) {
}
@media only screen and (max-width: 1500px) {
	html{ font-size: 35px !important; }
	.zmdi{ font-size: 60px !important; padding:10px !important; }
	.unbehaved-element { font-size: 1.9em !important; }
	#keepsigned .checktext{ padding-top:20px; padding-left:30px; display:inline-block; font-size:30px; }
	.syncOrders, .printOrders{ padding:20px !important; }
	.ordercontrols .zmdi{ font-size: 20px !important; }
	#keepsigned i.zmdi, .slider i.zmdi{ font-size: 60px !important; }
	/*catalog page*/
	.bannertext{ font-size:25px; }
	.slider .inner h2{ font-size:35px !important;padding:0px 20px; }
	.slider .controlgroup-textinput{padding:0px 0px 0px 0px !important;height:auto !important;}
	.slider .controlgroup-textinput input.q{font-size:30px !important;width:40px;}
	.ui-btn{font-size:35px;}
	.slider .inner .minus, .slider .inner .plus { font-size:30px;padding:12px 0px 14px 0px !important;min-width:40px; }
	/*product display*/
	input[type="text"],input[type="password"], input[type="tel"], input[type="email"]{ font-size:28px !important; }
	.personal-info .controlgroup-textinput{padding-top:0px !important;padding-bottom:0px !important;height: 58px !important;}
	.priceselect .ui-block-a label{ font-size:35px; padding-left:60px; } 
	.addon-wrapper i.zmdi{ font-size: 35px !important; padding:0px !important; }
	.ui-grid-b .checkbox-check{width:50px;}
	.labelprice{font-size:30px;}
	/*product display*/
	#purchase h2{font-size:35px !important;}
	.checkout-radio label{font-size:35px !important;}
	.cart-addons label{font-size:25px !important;}
	.clone{font-size:30px !important;}
	.addonpricing{font-size:20px !important;}
	.addonthumb{ max-width:125px;margin-right:15px; }
	.cartthumb{ max-width:180px; height:auto; margin-right:20px; }
	.ui-btn.ui-checkbox-off:after, .ui-btn.ui-checkbox-on:after, .ui-btn.ui-radio-off:after, .ui-btn.ui-radio-on:after{
		width:35px;height:35px;background-size:60%;margin: -18px 2px 0 2px;
	}
	.ui-btn.ui-radio-on:after{ width:30px !important;height:30px !important;}
	#filterset .ui-btn, .centeredB .ui-btn{ font-size:35px !important;padding:10px 20px; }
	/*Checkout Page*/
	.quantity-input{width:25%;padding:5px !important;height:44px !important;}
	input#quantity{ height:44px;font-size:30px !important; }
	.steps .dots span, .steps .highlights span.active{padding:5px 20px;}
	.steps .bar{ height:15px;}
	.steps .dots div{ margin-top:-20px;}
	.steps .highlights span.active{ margin-top:-45px;}
	.steps .dots p{ font-size:24px; }
	.steps{ margin:10px auto 100px auto; }
	.smaller{font-size:25px;}
	.cartlist .cartthumb{ max-width:280px ;}
	.divider-title{font-size:30px !important;}
	.ui-listview .ui-li-has-thumb > img:first-child,
	.ui-listview .ui-li-has-thumb > .ui-btn > img:first-child,
	.ui-listview .ui-li-has-thumb .ui-li-thumb { min-width: 280px; max-height: 280px !important; }
	.ui-listview > .ui-li-has-thumb > .ui-btn,
	.ui-listview > .ui-li-static.ui-li-has-thumb {padding: .7em 1em .7em 310px;}
	.bi-ctn-err { font-size:35px; }
	.bi-ctn-suc { font-size:35px; }
	.phone-fields .ui-mini{ font-size:22px !important; }
	/*Payment Type*/
	.payment-form .ui-btn{ font-size:35px !important; }
	/*Menu*/
	#profile-panel legend{font-size:35px;}
	#menu-panel .ui-btn .nav-text{ font-size:30px; float:left !important; }
	#menu-panel .zmdi-circle{ float:left !important; margin-top:20px; }
}
/*IPADS < 1300*/
@media only screen and (max-width: 1200px) { /*//3 across*/
	html{ font-size: 28px !important; }
	.zmdi{ font-size: 40px !important; padding:10px !important; }
	.unbehaved-element { font-size: 1.9em !important; }
	#keepsigned .checktext{ padding-top:15px; padding-left:10px; display:inline-block;font-size:28px; }
	.syncOrders, .printOrders{ padding:20px !important; }
	.ordercontrols .zmdi{ font-size: 20px !important; }
	#keepsigned i.zmdi, .slider i.zmdi{ font-size: 40px !important; }
	.bannertext{ font-size:20px; }
	/*Catalog area*/
	.slider .inner h2{ font-size:30px !important;padding:0px 10px; }
	.slider .inner .ui-btn{ font-size:20px; }
	.slider .inner .minus, .slider .inner .plus { font-size:14px;padding:11px 0px 11px 0px !important;min-width:20px; }
	.slider .inner .sizeoption{ font-size:16px; }
	.slider .controlgroup-textinput{padding:0px 0px 0px 0px !important;height:auto !important;}
	.slider .controlgroup-textinput input.q{font-size:18px !important;padding:0px !important;margin:0px;width:25px;}
	.ui-btn{font-size:28px;}
	/*product display*/
	
	.priceselect .ui-block-a label{ padding-left:32px;font-size:25px } 
	.labelprice{font-size:16px;}
	.clone{font-size:28px;}
	.ui-btn.ui-checkbox-off:after, .ui-btn.ui-checkbox-on:after, .ui-btn.ui-radio-off:after, .ui-btn.ui-radio-on:after{
		width:18px;height:18px;background-size:60%;margin: -8px 2px 0 2px;
	}
	.ui-btn.ui-radio-on:after{ width:12px !important;height:12px !important;}
	#filterset .ui-btn, .centeredB .ui-btn{ font-size:25px !important;padding:10px 20px;}
	.bi-ctn-err { font-size:18px; }
	.bi-ctn-suc { font-size:18px; }
	/*Form Elements*/
	input[type="text"], input[type="password"], input[type="tel"], input[type="email"]{ font-size:30px !important; }
	.personal-info .controlgroup-textinput{padding-top:0px !important;padding-bottom:0px !important;height: 58px !important;}
	/*Checkout Page*/
	.quantity-input{width:25%;padding:5px !important;height:36px !important;}
	input#quantity{ height: 36px;font-size:20px !important; }
	.divider-title{font-size:20px !important;}
	.cartlist .cartthumb{ max-width:210px;}
	.ui-listview .ui-li-has-thumb > img:first-child,
	.ui-listview .ui-li-has-thumb > .ui-btn > img:first-child,
	.ui-listview .ui-li-has-thumb .ui-li-thumb { min-width: 210px; max-height: 210px !important; }
	.ui-listview > .ui-li-has-thumb > .ui-btn,
	.ui-listview > .ui-li-static.ui-li-has-thumb {padding: .7em 1em .7em 230px;}
	.steps .dots span, .steps .highlights span.active{padding:5px 14px;}
	.steps .bar{ height:10px;}
	.steps .dots div{ margin-top:-16px;}
	.steps .highlights span.active{ margin-top:-36px;}
	.steps .dots p{ font-size:14px; }
	.steps{ margin:10px auto 80px auto; }
	.smaller{font-size:18px;}
	.phone-fields .ui-mini{ font-size:24px !important; }
	/*Payment Type*/
	.payment-form .ui-btn{ font-size:24px !important; }
	/*Menu Panels*/
	#profile-panel legend{font-size:28px;}
	#menu-panel .ui-btn .nav-text{ font-size:20px; float:left !important; }
	#menu-panel .zmdi-circle{ float:left !important; margin-top:20px; }
}
/*Smaller tablets 600-800*/
@media  only screen and (max-width: 980px) {
	html{ font-size: 20px !important; }
	.zmdi{ font-size: 30px !important; padding:3px !important; }
	#keepsigned .checktext{ padding-top:5px; display:inline-block; }
	/*Catalog area*/
	.bannertext{ font-size:16px; }
	.slider .inner h2{ font-size:20px !important; }
	.slider .inner .ui-btn{ font-size:16px; }
	.slider .inner .minus, .slider .inner .plus { font-size:14px;padding:12px 0px 13px 0px !important;min-width:25px; }
	.slider .controlgroup-textinput{padding:0px !important;height:auto !important;}
	.slider .controlgroup-textinput input.q{font-size:20px !important;line-height:20px !important;}
	.slider .inner .sizeoption{ font-size:20px; }
	.ui-btn{font-size:20px;}
	/*product display*/
	input[type="text"],input[type="password"], input[type="tel"], input[type="email"]{ font-size:28px !important; }
	.clone{font-size:20px;}
	.priceselect .ui-block-a label{ padding-left:30px; } 
	/*cart popup*/
	#purchase h2{font-size:24px !important;}
	.checkout-radio label{font-size:20px !important; }
	.cart-addons label, .clone{font-size:16px !important;}
	.addonpricing{font-size:14px !important;}
	.addonthumb{ max-width:85px;margin-right:5px; }
	.cartthumb{ max-width:100px; height:auto; margin-right:10px; }
	.ui-btn.ui-checkbox-off:after, .ui-btn.ui-checkbox-on:after, .ui-btn.ui-radio-off:after, .ui-btn.ui-radio-on:after{
		width:16px;height:16px;background-size:60%;margin: -6px 2px 0 2px;
	}
	.ui-btn.ui-radio-on:after{ width:10px !important;height:10px !important;}
	#filterset .ui-btn, .centeredB .ui-btn{ font-size:18px !important;padding:10px 20px;}
	.bi-ctn-err { font-size:18px; }
	.bi-ctn-suc { font-size:18px; }
	.personal-info .controlgroup-textinput{padding-top:0px !important;padding-bottom:0px !important;height: 58px !important;}
	/*Checkout Page*/
	.quantity-input{width:25%;padding:5px !important;height:26px !important;}
	input#quantity{ height: 20px;font-size:20px !important; }
	.divider-title{font-size:20px !important;}
	.cartlist .cartthumb{ max-width:210px;}
	.steps .dots span, .steps .highlights span.active{padding:5px 11px;}
	.steps .bar{ height:10px;}
	.steps .dots div{ margin-top:-10px;}
	.steps .highlights span.active{ margin-top:-30px;}
	.steps{ margin:10px auto 80px auto; }
	.smaller{font-size:14px;}
	.phone-fields .ui-mini{ font-size:21px !important; }
	/*Payment Type*/
	.payment-form .ui-btn{ font-size:21px !important; }
	/*menu panels*/
	#profile-panel legend{font-size: 20px}
}

@media  only screen and (max-width: 600px) { /*Phones and small screens*/
	/*header area*/
	body { font-size: 16px !important; }
	.zmdi.zmdi-account ,.zmdi.zmdi-menu{ font-size: 26px !important; }
	.zmdi{ font-size: 18px !important; }
	#keepsigned i.zmdi, .slider i.zmdi{ font-size: 30px !important; }
	#confirm-member i.zmdi{ font-size: 30px !important; margin-top:0px; }
	#confirm-member .ui-block-a{ padding-top:8px; }
	#keepsigned .checktext{ padding-top:10px; display:inline-block; font-size:16px; }
	.syncOrders, .printOrders{ padding:10px !important; }
	.ordercontrols .zmdi{ font-size: 16px !important; }
	.banner1{ width:35% !important; }
	.banner2{ width:45% !important; }
	.banner3{ width:15% !important; text-align:right; }
	.bannertext{ font-size:12px !important; }
	/*catalog page*/
	.slider .inner h2{ font-size:16px !important; }
	.slider .inner .ui-btn{ font-size:14px; }
	.slider .inner .minus, .slider .inner .plus { font-size:14px;padding:10px 0px 9px 0px !important;min-width:20px; }
	.slider .controlgroup-textinput{padding:0px !important;height:auto !important}
	.slider .controlgroup-textinput input.q{font-size:16px !important;line-height:16px !important;width:25px;}
	.slider .inner .sizeoption{ font-size:14px; }
	.priceselect .ui-block-a label{ padding-left:28px; }
	.slider .controlgroup-textinput{padding:0px 0px 2px 0px !important;}
	.ui-btn{font-size:16px;}
	/*product display*/
	input[type="text"],input[type="password"], input[type="tel"], input[type="email"]{ font-size:12px !important; }
	.labelprice{font-size:14px;}
	.clone{font-size:14px;}
	/*cart popup*/
	#purchase h2{font-size:20px !important;}
	.checkout-radio label{font-size:14px !important; }
	.cart-addons label, .clone{font-size:12px !important;}
	.addonpricing{font-size:10px !important;}
	.addonthumb{ max-width:45px;margin-right:5px; }
	.cartthumb{ max-width:80px; height:auto; margin-right:10px; }
	#filterset .ui-btn, .centeredB .ui-btn{ font-size:12px !important;padding:5px 5px;}
	.bi-ctn-err { font-size:12px; }
	.bi-ctn-suc { font-size:12px; }
	.personal-info .controlgroup-textinput{padding-top:.22em !important;padding-bottom:.22em !important;height: 28px !important;}
	/*Checkout Page*/
	.quantity-input{ width:25%;padding:5px !important;height:20px !important;}
	 input#quantity{ height: 20px;font-size:16px !important; }
	.divider-title{font-size:16px !important;}
	.cartlist .cartthumb{ max-width:80px;}
	.steps .dots span, .steps .highlights span.active{padding:5px 8px;}
	.steps .dots p{ font-size:14px; }
	.steps{ margin:10px auto 60px auto; }
	.smaller{font-size:12px;}	.phone-fields .ui-mini{ font-size:12px !important; }
	.ui-listview .ui-li-has-thumb > img:first-child,
	.ui-listview .ui-li-has-thumb > .ui-btn > img:first-child,
	.ui-listview .ui-li-has-thumb .ui-li-thumb { min-width: 150px; max-height: 150px !important; }
	.ui-listview > .ui-li-has-thumb > .ui-btn,
	.ui-listview > .ui-li-static.ui-li-has-thumb {padding: .7em 1em .7em 160px;}
	/*Payment*/
	.payment-form .ui-btn{ font-size:18px !important; }
	/*Menu Panels*/
	#profile-panel legend{font-size:16px;}
	#menu-panel .ui-btn .nav-text{ font-size:16px; float:left !important; }
	#menu-panel .zmdi-circle{ float:left !important; margin-top:5px; }
}
