/*Custom styles for the Mickman app here*/

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
h1,h2,h3,h4,h5 {
    color:#0071bc;
}

.ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}
.ui-title {
    color:#fff;
}
.mc-text-center {
    text-align:center;
}
.mc-top-margin-1-5 {
    margin-top:1.5em;
}
h2.mc-text-danger,
h3.mc-text-danger  {
    color:red;
}
.ui-li {
    border-top: 0;
}
.ui-li {
    margin-bottom: -1px !important;
}
.ui-listview, .ui-listview > li{margin:0px !important;}
.bi-invalid-input {
    background-color:pink !important;
}

.bi-invisible {
    display:none;
}

.bi-ctn-err { /*error message*/
    background-color:red;
    color:#FFF;
    padding:0 .5em;
    margin-bottom:.5em;
    border: 1px solid #e9cfbd;
    border-radius:3px 3px;
}
.bi-header {
    border: 0px; position: fixed; width: 100%; top: 0px; left: 0px; z-index: 21;
}
/*custom styles for listview*/
.productlist p.price{
	font-weight:normal;
	color:red;
}
.productlist .ui-btn{
	padding:3px;
}
.split-custom-wrapper {
    /* position wrapper on the right of the listitem */
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.split-custom-button {
    position: relative;
    float: right;   /* allow multiple links stacked on the right */
    height: 100%;
    margin:0;
    min-width:1em;
    /* remove boxshadow and border */
    border:none;
    border-left:1px solid #CCC;
    moz-border-radius: 0;
    webkit-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    moz-box-shadow: none;
    webkit-box-shadow: none;
    box-shadow: none;
}
.split-custom-button span.ui-btn-inner {
    /* position icons in center of listitem*/
    position: relative;
    margin-top:50%;
    margin-left:50%;
    /* compensation for icon dimensions */
    top:11px; 
    left:-12px;
    height:40%; /* stay within boundaries of list item */
}
.searchbtn{
	float:left;
	height:auto;
	position:absolute;
	background:transparent !important;
	left:0;
	min-width:80px;
	min-height:50px;
}
.searchbtn span.ui-btn {
    /* position icons in center of listitem*/
    position: relative;
    margin:0;
    background:transparent !important;
    /* compensation for icon dimensions */
    top:11px; 
    left:0px;
    height:40%; /* stay within boundaries of list item */
}
