<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "A8FETR73Y9.com.phonegap.MickmanTracker"
        versionCode = "10" 
        version     = "1.0" >
	
    <name>Mtracker</name>
    <description>
	    A Customizable App to collect scout orders for an on the go sales tool. 
	    Droid and iOS compatible.
    </description>

    <author href="https://build.phonegap.com" email="j_flottmeyer@voilamediagroup.com">
        John Flottmeyer
    </author>
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    
    <!-- third party plugins -->
	<gap:plugin name="cordova-plugin-statusbar" source="npm" />
	<gap:plugin name="de.appplant.cordova.plugin.printer" source="npm"/>
	 
    <!-- universal preferences -->
    <preference name="phonegap-version"           value="cli-6.5.0" />         
    <preference name="fullscreen"                 value="true" />
	
	<!-- ios preferences --> 
    <preference name="target-device" value="universal" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    
    <!-- ios icons  6.1 -->
    <!-- ios icons 7+ -->
    <!-- iPhone / iPod Touch  -->
	<icon src="images/icons/icon-60.png" platform="ios" width="60" height="60" />
	<icon src="images/icons/icon-60@2x.png" platform="ios" width="120" height="120" />

    <!-- ios splash screens 5 -->
    <splash src="images/splash/Default-568h@2x.png" platform="ios" width="640" height="1136" />

	
<gap:config-file platform="ios" parent="ITSAppUsesNonExemptEncryption" mode="add">
	<false/>
</gap:config-file>
</widget>
